{% if pagination %}
    {% for tweet in pagination %}
        <div class="tweet {% if tweet.inReplyToStatusId %}reply{% endif %} {% if tweet.truncated %}truncated{% endif %}">
            <p class="message">
                {% if tweet.favorited %}
                    <span class="badge badge-warning"><i class="icon-star icon-white" title="Favorite"></i></span>
                {% endif %}
                {{ tweet.getLinkedTweet|raw }}
            </p>
            <p class="meta">
                <a href="https://twitter.com/{{ tweet.userScreenName }}/status/{{ tweet.id }}" target="_blank" rel="bookmark">{{ tweet.createdAt|date('g:ia F jS Y') }}</a>
                via
                {{ tweet.source|raw }} {% if tweet.inReplyToStatusId %}<a href="http://twitter.com/{{ tweet.inReplyToScreenName }}/status/{{ tweet.inReplyToStatusId }}">in reply to {{ tweet.inReplyToScreenName }}</a>{% endif %}
            </p>
        </div>
    {% endfor %}

    <div id="pagination">
        {{ knp_pagination_render(pagination) }}
    </div>
{% else %}
    <p class="no-tweets lead">No tweets found!</p>
{% endif %}